/* Navbar */
.navbar-brand{
	color: #fefefe;
	font-family: "Open Sans";
	font-size: 30px;
	font-weight: 700;
	line-height: 24px;
	margin-right: 3rem;
}	

/* Buttons */
.btn-started {
    background-color: #fff;
    font-size: 17px;
    color: #555 !important;
    font-family: "Lato";
    font-weight: 700;
    border-radius: 3px;
    border: 2px solid #fff;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
	margin-right:10px;
}
.btn-lg {
    padding: .5rem 2rem;
}
.btn-started:hover {
    color: #fff !important;
    background-color: #06d76d;
    border-color: #06d76d;
	box-shadow: none;
}
.btn-login {
    color: #fff !important;
    font-family: "Lato";
    font-size: 17px;
    font-weight: 700;
    border: 2px solid #fff;
}
.btn-login:hover{
	background-color: #fff;
    color: #555 !important;
	border-color:#fff;
	box-shadow: none;
}
.btn-cta {
	color: #fff;
	font-family: "Lato";
	font-size: 20px;
    font-weight: 800;
    line-height: 30px;
	background-color: #06d76d;
	border-radius: 3px;
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
	border: none;
}
.btn-cta:hover{
	background-color: #fff;
    color: #555;
	border-color:#fff;
	box-shadow: none;
}

/* Menu Links */
ul.coupon-menu li a{
	color: #fefefe;
	font-family: "Open Sans";
	font-size: 17px;
	font-weight: 400;
	line-height: 24px;
}
.navbar-nav .nav-link {
    color: rgba(255,255,255,.7);
}
.navbar-nav .nav-link:focus, .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,.9);
}
.navbar-nav .nav-link {
    color: #fefefe;
}

/* Background Wrap */
.wrap{
	background-image:url(./assets/img/bg-main.jpg);
	background-position:top right;
	background-repeat:no-repeat;
}

/* Home Call to Action Content */
.header-cta-block{
	overflow-x:hidden;
}
.header-content {
    display: flex;
    align-items: center;
}
.header-cta h1{
	color: #fff;
	font-family: "Lato";
	font-size: 50px;
	font-weight: 700;
	line-height: 60px;
	margin-bottom:50px;
}
.header-cta p{
	color: #fefefe;
	font-family: "Open Sans";
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	margin-bottom:65px;
}
.call-to-action .btn-cta {
    font-size: 24px;
    line-height: 30px;
	padding: .7rem 4rem;
}

/* How It Works */
.how-it-works, .pricing-table{
	text-align:center;
}
.how-it-works h2, .pricing-table h2{
	font-family: "Lato";
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;	
	margin-bottom: 40px;
    margin-top: 25px;
}
.how-it-works h2{
	color: #444444;
}
.how-it-works p{
	color: #888;
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
}	
.hiw-bg {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.08);
	text-align:left;
	min-height:182px;
	margin-top:105px;
	margin-bottom:90px;
}
.hiw-bg h3{
	height: 16px;
	color: #333;
	font-family: "Lato";
	font-size: 20px;
	font-weight: 700;
	line-height: 26px;
	margin-top:20px;
	margin-bottom:20px;
}
.hiw-bg p{
	color: #888;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom:30px;
}
.hiw-txt{
	padding: 0 30px;
}
.hiw-img{
	display: flex;
    align-items: center;
}
.video-cta {
	text-align: center;
}
.btn-video{
	background-color: #2673cf;
	border-radius: 3px;
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
	font-family: "Lato";
	font-weight: 700;
	padding: 14px 32px;
	margin-bottom:80px;
	color:#fff;
}	
.btn-video i{
	margin-right:10px;
	color:#fff;
}

/* Pricing Table */
.pricing-table{
	background-image:url(./assets/img/bg-pricing.jpg);
	background-repeat:no-repeat;
	background-position:top right;
}
.pricing-table h2{
	margin-bottom:80px;
	color:#444444;
}
.pricing-table .img-icon{
	margin-top:54px;
}
.plan{
	width: 267px;
	height: 398px;
	background-color: #fff;
	background-image:url('./assets/img/img-at-top.png');
	background-position:top center;
	background-repeat:no-repeat;
	border-radius: 10px;
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
	margin-bottom:100px;
	margin: 0 auto;
}
.plan-pro {
    height: 420px;
    margin-bottom: 60px;
}
.plan-name h3{
	color: #fefeff;
	font-family: "Lato";
	font-size: 24px;
	font-weight: 400;
	line-height: 36px;
	text-align:center;
	padding-top: 30px;
}
.prefix-value{
	color: #538de2;
    font-family: "Lato";
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    position: absolute;
    top: 142px;
    left: 115px;
}
.prefix-value-elite{
	color: #538de2;
	font-family: "Lato";
	font-size: 18px;
	font-weight: 400;
	line-height: 36px;
	position: absolute;
    top: 120px;
    left: 70px;
}
.value{
	color: #538de2;
    font-family: "Lato";
    font-size: 100px;
    font-weight: 900;
    line-height: 72px;
    padding-top: 71px;
}
.value-contact-us{
	font-size: 44px;
}
.description-plan{
	color: #538de2;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding-top: 18px;
}
.quantity{
	font-size: 36px;
	color: #538de2;
	font-family: "Lato";
	font-weight: 400;
	padding-top: 30px;
}
.description-quantity{
	font-size: 18px;
	color: #538de2;
	font-family: "Lato";
	font-weight: 400;
}
.quantity.qty-elite{
    padding-top: 54px;
}

/* Testimonials */
.testimonials-title {
    text-align: center;
    margin-top: 50px;
}
.testimonials-title h2{
	margin-bottom:80px;
	text-align:center;
}
.testimonials-title img{
	text-align:center;
}
.testimonials{
	display: flex;
    flex-direction: row;
}
.testimonials-card{
	padding: 35px 50px 35px 85px;
	background-color: rgba(255, 255, 255, 0.98);
	border-radius: 20px;
	box-shadow: 0 24px 59px rgba(51, 59, 69, 0.15);
}
.testimonials-img {
    position: absolute;
    left: 5px;
    width: 133px;
    height: 133px;
    border-radius: 132px;
    background: #000;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 24px 59px rgba(51, 59, 69, 0.07);
}
.testimonials-img-bg{
	position: absolute;
    left: 13px;
    top: 13px;
}
.testimonials-name h3{
	color: #333;
	font-family: "Lato";
	font-size: 20px;
	font-weight: 700;
	line-height: 40px;
}
.testimonials-position{
	color: #2c6ecd;
	font-family: "Lato";
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
}
.testimonials-description p{
	color: #888;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin-top:20px;
}
.testimonials .col {
	padding-left: 70px;
    padding-right: 70px;
}

/* Wrap Bottom Background */
.wrap-bottom{
	background-image:url('./assets/img/bg-main-cta.jpg');
	background-position:bottom center;
	background-repeat:no-repeat;
}

/* Call to Action Section */
.call-to-action{
	text-align:center;
	margin-top:50px;

}
.call-to-action h2{
	color: white;
	font-family: "Lato";
	font-size: 36px;
	font-weight: 700;
	line-height: 72px;
}
.call-to-action h6{
	color: #fefefe;
	font-family: "Open Sans";
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
	margin-top:20px;
	margin-bottom:50px;
}
.call-to-action .btn-cta{
	margin-bottom:200px;
}

/* Footer */
.footer-line{
	height: 1px;
	background-color: #eee;
	margin-top:60px;
}
.footer-widget{
	margin-top:85px;
}
.footer-logo {
	color: #9932d7;
	font-family: "Open Sans";
	font-size: 30px;
	font-weight: 700;
	line-height: 24px;
	padding-bottom:30px;
}
.footer-text p{
	color: #b2b2b2;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.footer-title{
	color: #333;
	font-family: Lato;
	font-size: 18px;
	font-weight: 700;
	line-height: 26px;
	padding-bottom:30px;
}
ul.footer-menu li {
	list-style-type:none;
}
ul.footer-menu li a{
	color: #888;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
}
ul.footer-menu {
	-webkit-padding-start: 0;
}
.social .facebook-bg{
	width:30px;
	height:30px;
	background-image: linear-gradient(135deg, #1e4c8e 0%, #2761b5 49%, #2c6fcf 99%, #2c6fcf 100%);
}
.social .fa-envelope-o{
	margin-right:15px;
	margin-bottom:25px;
}
.social .facebook-bg {
    width: 30px;
    height: 30px;
    background-image: linear-gradient(135deg, #1e4c8e 0%, #2761b5 49%, #2c6fcf 99%, #2c6fcf 100%);
    border-radius: 30px;
	margin-bottom: 85px;
}
.social i.fa.fa-facebook{
	color: #fff;
    margin-left: 10px;
    margin-top: 7px;
}

/* Responsive */
@media only screen and (min-width: 1367px){
	.testimonials .container{
		max-width:100%; 
		display:flex;
		width:100%;
		padding-left:0; 
		padding-right:0;
	}
}
.testimonials .col-lg-4 {
		padding-left: 70px;
		padding-right: 70px;
	}
@media only screen and (max-width: 1370px){
	.testimonials { 
		display: flex;
		flex-direction: column;
		flex-basis: auto;
	}
	.testimonials-card {
		padding: 25px 50px 50px 160px;
		background-color: rgba(255, 255, 255, 0.98);
		border-radius: 20px;
		box-shadow: 0 24px 59px rgba(51, 59, 69, 0.15);
	}
	.testimonials-img {
		left: 30px;
		top: 10px;
	}
	.testimonials .col-lg-4 {
		padding-left: 70px;
		padding-right: 70px;
		padding-top: 30px;
	}
}
@media only screen and (min-width: 991px) and (max-width:1370px){
	.header-img img{
		width: 120%; 
	}
	.testimonials .col-lg-4 {
		max-width: 100%;
	}
}
@media only screen and (min-width: 991px) and (max-width:1200px){ 
	.prefix-value {
		left: 88px;
	}	
}
@media only screen and (max-width: 991px){
	.header-cta h1 {
		font-size: 35px;
		line-height: 45px;
		margin-bottom: 30px;
	}
	.header-cta p {
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 40px;
	}
	.hiw-bg {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.video-cta {
		margin-top: 50px;
	}
	.pricing-table{
		background-image:url(./assets/img/bg-pricing-mobile.jpg);
	}
	.pricing-table .img-icon{
		margin-top:50px;
	}
	.plan {
		margin: 15px auto;
	}
	.prefix-value {
		top: auto;
		left: auto;
		margin-top: 70px;
		margin-left: 55px;
	}
	.prefix-value-elite {
		top: auto;
		left: auto;
		margin-top: 46px;
		margin-left: 55px;
	}
	.plan-elite{
		margin-bottom:50px;
	}
	.hiw-bg .row{
		flex-wrap: nowrap;
	}
	.hiw-img {
		max-width: 120px;
	}
	.hiw-bg h3 {
		margin-top: 40px;
	}
	.call-to-action .btn-cta {
		margin-bottom: 100px;
	}
	.header-content {
		align-items: start;
	}
	.header-cta h1 {
		margin-top: 100px;
	}
} 
@media only screen and (max-width: 769px){
	.how-it-works p {
		font-size: 16px;
	}
	.pricing-table .img-icon {
		margin-top: 30px;
	}
	.btn-video {
		margin-bottom: 40px;
	}
	.testimonials-card {
		padding: 30px 30px 30px 30px;
	}
	.testimonials-img {
		position: unset;
		text-align: center;
		width: auto;
		height: auto;
		box-shadow: none;
	}
	.testimonials-img-bg {
		 position: unset;
	}
	.testimonials-name{
		text-align:center;
		margin-top:10px;
		}
	.testimonials-position {
		text-align: center;
		line-height: 18px;
	}	
	.testimonials-title h2 {
		margin-bottom: 40px;
	}
	.call-to-action {
		margin-top: 70px;
	}
	.call-to-action h2 {
		line-height: 40px;
	}
	.footer-widget {
		margin-top: 40px;
	}
}
@media only screen and (max-width: 576px){
	.header-img{
		display:none;
	}
	.header-cta h1 {
		margin-top: 40px;
		text-align:center;
	}
	.header-cta p {
		text-align: center;
	}
	.button-cta-header{
		text-align:center;
		margin-bottom: 50px;
	}	
	.how-it-works p {
		font-size: 20px;
	}	
	.hiw-txt p{
		font-size: 16px;
	}
	.testimonials .col-lg-4 {
		padding-left: 15px;
		padding-right: 15px;
	}
	.call-to-action h6 {
		font-size: 20px;
		line-height: 26px;
	}
	.navbar-collapse {
		margin-top:30px;
    }
}	