<!--<div flex-md layout-align="center center" class="slide smooth" style="margin-top: 50px;">  
  <div flex layout="row" layout-align="center none" layout-wrap layout-padding>
      <div flex-gt-md="70" flex-gt-xs="50" flex>
          <div layout="column" layout-align="center center" layout-fill>
              <h1 style="margin: 0px;">The Best Amazon Coupon Code Distributor.</h1>
              <h1 style="margin: 0px;">Distribute Unique Coupon Codes on Landing Pages.</h1>
          </div>
          <div layout="row" layout-align="center center">
              <md-button type="submit" class="md-raised md-primary" aria-label="login" ng-disabled="login.loginForm.$invalid()">Learn More
              </md-button>
          </div>
      </div>
    </div>
    <div layout="row">    
    </div>
</div>-->
<div class="wrap">
	<!-- NavBar -->
		<nav class="navbar sticky-top navbar-expand-lg navbar-dark" role="navigation" style="background-color: rgba(97, 99, 220, 0.9) !important;">
			<div class="container">
			<!-- Logo -->
				<a class="navbar-brand" href="#home">CouponClicks</a>
			<!-- Mobile Menu -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			<!--Menu -->
				<div class="collapse navbar-collapse" id="navbarText">
					<ul class="navbar-nav mr-auto coupon-menu">
					  <li class="nav-item">
						<a class="nav-link" href="#home">Home<span class="sr-only">(current)</span></a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="#about">About</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="#pricing">Pricing</a>
					  </li>
					   <li class="nav-item">
						<a class="nav-link" href="#testimonials">Testimonials</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="#contact-us">Contact Us</a>
					  </li>
					</ul>
			<!-- Buutons Menu -->
				<span class="navbar-text">
					<a href="#" class="btn btn-started" role="button">GET STARTED</a>
					<a href="#" class="btn btn-outline btn-login" role="button">LOGIN</a>
				</span>
			  </div>
		  </div>
		</nav>
	<article id="couponclicks">
	<!-- Home Call to Action Content -->
		<section id="home">    
			<div class="header-cta-block">
				<div class="container header-content">
					<div class="header-cta col-lg-6 col-sm-9 col-12">
						<h1>Simplify Distributing Unique Coupon Codes.</h1>
						<p>Finally, an easy way for Amazon sellers and Ecommerce marketers to distribute unique coupon codes without paying a fortune.</p>
						<div class="button-cta-header"><a href="#" class="btn btn-lg btn-cta" role="button">START MY FREE TRIAL</a></div>
					</div>
					<div class="header-img col-lg-6 col-sm-3">
						<img src="./assets/img/laptop.png" />
					</div>
				</div>
			</div>
		</section>	
	<!-- How It Works-->
		<section id="about">
			<div class="container how-it-works">
				<img class="img-icon" src="./assets/img/icon_how_it_works.png" alt="How It works">
				<h2>How It Works</h2>
				<p>CouponClicks helps ecommerce businesses drive more sales,<br>increase conversions, and build stronger relationships<br>with their customers. </p>
				<div class="row"> 
					<div class="col-lg-4">
						<div class="hiw-bg">
							<div class="row">
								<div class="hiw-img col-lg-3">
									<img class="img-icon" src="./assets/img/icon_upload.png" alt="upload">
								</div>
								<div class="hiw-txt col-lg-9">
									<h3>Upload List</h3>
									<p>Upload a .txt or .csv file with up to 10,000 unique coupon codes at a time.</p>
								</div>
							</div>
						</div>
					</div><!-- /.col-lg-4 -->
					<div class="col-lg-4">
						<div class="hiw-bg">
							<div class="row">
								<div class="hiw-img col-lg-3">
									 <img class="img-icon" src="./assets/img/icon_code.png" alt="code">
								</div>
								<div class="hiw-txt col-lg-9">
									<h3>Place Code</h3>
									<p>Place a line of javascript on your site and the coupon will change every time a unique customer visits.</p>
								</div>
							</div>
						</div>
					</div><!-- /.col-lg-4 -->
					<div class="col-lg-4">
						<div class="hiw-bg"><div class="row">
							<div class="hiw-img col-lg-3">
								<img class="img-icon" src="./assets/img/icon_grow.png" alt="grow">
							</div>
							<div class="hiw-txt col-lg-9">
								  <h3>Watch Claims</h3>
								  <p>Watch from your dashboard as coupons are claimed and your ROI skyrockets!</p>
							</div>
							</div>
						</div>
					</div><!-- /.col-lg-4 -->
					<!-- btn video -->
				</div> <!-- /.row -->
				<div class="video-cta">
					<button type="button" class="btn btn-video"><i class="fa fa-play" aria-hidden="true"></i>WATCH THE VIDEO</button>
				</div>
			</div>
		</section>
	<!-- Pricing Table-->
		<section id="pricing">
			<div class="pricing-table">
				<div class="container">
				<img class="img-icon" src="./assets/img/icon-pricing.png" alt="Pricing table">
				<h2>Pricing That Doesn't Break The Bank</h2>
					<div class="row">
						<div class="col-lg-4">
							<div class="plan">
								<div class="plan-name">
									<h3>Startup</h3>
								</div>
								<div class="prefix-value">$</div>
								<div class="value">19</div>
								<div class="description-plan">/Per Month</div>
								<div class="quantity">5,000</div>
								<div class="description-quantity">Codes Per Month</div>
							</div>
						</div><!-- /.col-lg-4 -->
						<div class="col-lg-4">
							<div class="plan plan-pro">
								<div class="plan-name">
									<h3>Professional</h3>
								</div>
								<div class="prefix-value">$</div>
								<div class="value">49</div>
								<div class="description-plan">/Per Month</div>
								<div class="quantity">50,000</div>
								<div class="description-quantity">Codes Per Month</div>
							</div>
						</div><!-- /.col-lg-4 -->
						<div class="col-lg-4">
							<div class="plan plan-elite">
								<div class="plan-name">
									<h3>Elite</h3>
								</div>
							<!--	<div class="prefix-value-elite"></div> -->
								<div class="value value-contact-us">Contact Us</div>
								<div class="description-plan"></div>
								<div class="quantity qty-elite">50,000+</div>
								<div class="description-quantity">Codes Per Month</div>
							</div>
						</div><!-- /.col-lg-4 -->
					</div>
				</div>
			</div>
		</section>
		<div class="wrap-bottom">
		<!-- Testimonials -->
			<section id="testimonials">
				<div class="testimonials-section">
					<div class="container testimonials-title">
						<img class="img-icon" src="./assets/img/icon-testimonials.png" alt="Testimonials">
						<h2>What Our Clients Say</h2>
					</div>
					<div class="testimonials">
					<div class="container">
						<div class="col-lg-4">
							<div class="testimonials-card">
								<div class="testimonials-img"><img class="testimonials-img-bg" src="./assets/img/testimonials-1.png" /></div>
								<div class="testimonials-name">
									<h3>Jamal O'Neal</h3>
								</div>
								<div class="testimonials-position">Sales manager at carparts.com</div>
								<div class="testimonials-description">
									<p>Watch sed ut perspiciatis unde omnis iste natus error sit one duos.<br><br>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia the one consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
								</div>
							</div>
						</div><!-- /.col-lg-4 -->
						<div class="col-lg-4">
							<div class="testimonials-card">
								<div class="testimonials-img"><img class="testimonials-img-bg" src="./assets/img/testimonials-2.png" /></div>
								<div class="testimonials-name">
									<h3>Jaclyn Smith</h3>
								</div>
								<div class="testimonials-position">Owner at shoes.com</div>
								<div class="testimonials-description">
									<p>Watch sed ut perspiciatis unde omnis iste natus error sit one duos the voluptatem et quasi architecto! <br><br>Voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
								</div>
							</div>
						</div><!-- /.col-lg-4 -->
						<div class="col-lg-4">
							<div class="testimonials-card">
								<div class="testimonials-img"><img class="testimonials-img-bg" src="./assets/img/testimonials-3.png" /></div>
								<div class="testimonials-name">
									<h3>Adam Seller</h3>
								</div>
								<div class="testimonials-position">Owner at Adam Seller LLC</div>
								<div class="testimonials-description">
									<p>I want to sed ut perspiciatis unde omnis iste natus error sit one duos the voluptatem et quasi dolores! <br><br>Aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
								</div>
							</div>
						</div><!-- /.col-lg-4 -->
						</div>
					</div>
				</div>	
			</section>		
		<!-- CALL TO ACTION -->
			<section id="contact-us">
				<div class="container call-to-action">
					<h2>See An Immediate Increase In Sales</h2>
					<h6>Launch Your First Campaign Today <br>With a 7 Day Free Trial </h6>
					<div class="button-cta">
						<a href="#" class="btn btn-lg btn-cta btn-cta-footer" role="button">GET STARTED</a>
					</div>
				</div>	
			</section>
	
		</div>	
	</article>	
	<!-- Footer -->
		<footer class="footer">
			<div class="footer-line"></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						<div class="footer-widget">
							<div class="footer-logo">CouponClicks</div>
							<div class="footer-text"><p>We help ecommerce businesses drive more sales, increase conversions, and build  stronger relationships with your customers.</p></div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="footer-widget">
							<div class="footer-title">Links</div>
							<ul class="footer-menu">
								<li><a href="#">Temrs of Service</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Contact Us</a></li>
							</ul>	
						</div>
					</div>
					<div class="col-lg-3">
						<div class="footer-widget">
							<div class="footer-title">Navigation</div>
							<ul class="footer-menu">
								<li><a href="#">About</a></li>
								<li><a href="#">Pricing</a></li>
								<li><a href="#">Get Started</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="footer-widget">
							<div class="footer-title">Contact Us</div>
							<div class="footer-text"><p>Have a questions? You can  contact us anytime by emailing</p>
								<div class="social">
									<i class="fa fa-envelope-o" aria-hidden="true"></i>support@couponclicks.com<br>
									<div class="facebook-bg"><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- /row -->
			</div><!-- /container -->
		</footer>
	</div>		